{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'authtest/css/home.css' %}">
  </head>
  <body>
    <h1>Home</h1>

    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">logout</button>
    </form>
    {% else %}
    <p>ログインしていません</p>
    <p><a href="{% url 'login' %}">ログイン</a></p>
    {% endif %}
    <p><a href="{% url 'signup' %}">サインアップ</a></p>
  </body>
</html>